* {
    margin: 0;
    padding: 0;
}

.container-canvas {
    margin: 0 auto;
    width: 800px;
    height: 500px;   
}
canvas { 
    background: #eee;
    border: 1px solid black;
}

form {
    width: 300px;
    margin: 0 auto;
}